body {
    background-color: #333;
    color: white;
}

.title {
    font-size: 48px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: darkblue;
    color: #FFF;
}

.container {
    text-align: center;
}

.cover-page {
    width: 700px;
    height: auto;
}

.container-recipes {
    background-color: darkblue;
}

.recipes {
    font-size: 26px;
    font-family: monospace;
}

a { 
    color: white;
}


.container-description h3, .container-ingredients h3, .container-steps h3 {
    background-color: royalblue;
    font-size: 32px;
    text-align: center;
}

.container-description p {
    text-align: start;
}

.container-return {
    text-align: center;
}